@font-face {
  font-family: 'SuisseIntl-Book';
  font-weight: 400;
  src: url('/fonts/SuisseIntl-Book.otf');
}
@font-face {
  font-family: 'quicksand';
  font-weight: 800;
  src: url('/fonts/quicksand/Quicksand-Bold.ttf');
}

@font-face {
  font-family: 'quicksand';
  font-weight: 600;
  src: url('/fonts/quicksand/Quicksand-SemiBold.ttf');
}

@font-face {
  font-family: 'bakso';
  font-weight: 700;
  src: url('/fonts/bakso/BaksoSapi.ttf');
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: SuisseIntl-Book, sans-serif;
  font-weight: 400;
}

a {
  color: unset;
  text-decoration: none;
}
