@font-face {
    font-family: 'quicksand';
    font-weight: 400;
    src: url('/fonts/quicksand/Quicksand-Regular.ttf');
}
@font-face {
    font-family: 'quicksand';
    font-weight: 800;
    src: url('/fonts/quicksand/Quicksand-Bold.ttf');
}

body {
    margin:0;
}

* {
    box-sizing: border-box;
    font-family: quicksand, sans-serif;
    font-weight: 400;
}

a {
    color: #c66c44;
}